.header {
    background-color: #232627;
    color: #fefefe;
    padding: 1rem 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }
  
  h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin: 0;
  }
  
  nav ul li a {
    color: #fefefe;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  